* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Display section start  */

.display-section {
    display: flex;
    height: 80vh;
    justify-content: space-around;
    background-color: #fddfe5;
}

.display-flower {
    width: 335px;
    height: 480px;
    padding-top: 20px;
}

.btn-primary {
    background-color: #E55473;
    color: white;
    padding: 15px 38px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.display-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    padding-top: 20px;
    font-family: sans-serif;
}

.display-title {
    font-family: sans-serif;
    padding-top: 25px;
}

.display-right {
    padding-top: 70px;
}

/* Display section end  */


/* feature section start  */

.feature-title {
    font-family: sans-serif;
    text-align: center;
    padding-top: 70px;
    font-weight: 800;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 250;
    line-height: 18px;
    padding-top: 15px;
    font-family: sans-serif;
    text-align: center;
}

.flower-pic-01 {
    width: 316px;
    height: 390px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-pic-02 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 316px;
    height: 390px;
}

.flower-pic-03 {
    width: 316px;
    height: 390px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.all-features {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 30px;
    height: 80vh;
}

.pic-01 {
    width: 210px;
    height: 328px;
    padding-top: 62px;
    padding-left: 50px;
}

.pic-02 {
    width: 270px;
    height: 270px;
    padding-top: 70px;
    padding-left: 35px;
}

.pic-03 {
    width: 227px;
    height: 384px;
    padding-left: 50px;
    padding-top: 6px;
}

.p-flowerd-description {
    color: #272727;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.r-flowerd-description {
    color: #272727;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-top: 50px;
}

.y-flowerd-description {
    color: #272727;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* feature section end  */

/* hot deal section start  */

.hot-deal-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    background-color: #f0e6e8;
    padding: 80px;
    margin-top: 40px;
}

.h-deal-img {
    width: 218px;
    height: 320px;
}

.h-deal-title {
    color: #272727;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
}

.h-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 250;
    line-height: 20px;
    padding-top: 10px;
}

.h-btn-primary {
    background-color: #E55473;
    color: white;
    padding: 15px 38px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 170px;
}

/* hot deal section end  */

/* instagram section start  */

.insta-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 60px;
}

.insta-01 {
    width: 232px;
    height: 276px;
}

.insta-02 {
    width: 232px;
    height: 276px;
}

.insta-03 {
    width: 232px;
    height: 276px;
}

.insta-04 {
    width: 232px;
    height: 276px;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-family: sans-serif;
    padding-top: 120px;
    font-weight: 800;
}

.insta-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 250;

    padding-top: 10px;
    font-family: sans-serif;
}

/* instagram section end  */


/* input and banner section start   */

.input-banner-section {
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    background: url('/Flower\ Asset/Rectangle 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;


}

/* input and banner section end   */